// colorsFont
.greyDefault{
    color:#637280;
}
.greySmooth{
    color : #C8C8C8;
}
.greyMedium{
    color: #9fa9ba;
}
.blackBlue{
    color:#1a173b
}
.redColor{
    color: #ff2636;
}
.orangeYellow{
    color:#f5a623;
}
.linkBlue{
    color:#2897ff
}

// backgroundColors
.bgWhite{
    background-color: #FFFFFF;
}