.smallFont{
    font-size: 12px !important;
}
.normalFont{
    font-size: 14px !important;
}
.biggerFont{
    font-size: 18px;
}
.biggestFont{
    font-size: 25px;
}


.titleStandar{
    font-size: 24px;
}
.fontWeightSemiBold{
    font-weight: 600;
}